# Test Execution 

## Suite 'common'.'case_1' - Use case: 'test_001_trace.ansible.yml'

```txt
PLAY RECAP *********************************************************************
localhost                  : ok=2    changed=0    unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
```

## Suite 'common'.'case_1' - Use case: 'test_002_common_vars.ansible.yml'

```txt
PLAY RECAP *********************************************************************
localhost                  : ok=2    changed=0    unreachable=0    failed=1    skipped=0    rescued=0    ignored=0   
```

## Summary

Total: 2
Pass: 1
Fail:  
